In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
us_file = "Resources/AB_US_2020.csv"
chicago_file = "Resources/listings.csv"

In [ ]:
original_us_df = pd.read_csv(us_file)
original_us_df.head()

In [ ]:
original_chicago_df = pd.read_csv(chicago_file)
original_chicago_df.head()

In [ ]:
us_df = original_us_df.copy()
us_df.head()

In [ ]:
us_df = us_df[['id', 'neighbourhood', 'room_type', 'price', 'minimum_nights', 'city']]
us_df.head()

In [ ]:
us_df = us_df.dropna()
us_df = us_df.drop_duplicates()
us_df.head()

In [ ]:
us_df = us_df[us_df['id'] != 43806155]
us_df.head()

In [ ]:
us_df.dtypes

In [ ]:
chicago_df = original_chicago_df.copy()
chicago_df.head()

In [ ]:
chicago_df = chicago_df[['id', 'neighbourhood', 'room_type', 'price', 'minimum_nights']]
chicago_df = chicago_df.dropna()
chicago_df = chicago_df.drop_duplicates()
chicago_df = chicago_df[chicago_df['id'] != 2384]

In [ ]:
chicago_df.dtypes

In [ ]:
from secrets import pw

In [ ]:
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/airbnb_db')

In [ ]:
engine.table_names()

In [ ]:
us_df.to_sql(name='us_data', con=engine, if_exists='append', index=False)

In [ ]:
chicago_df.to_sql(name='chicago_data', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from us_data', con=engine).head()

In [ ]:
pd.read_sql_query('select * from chicago_data', con=engine).head()

In [ ]:
demographics_file = "Resources/age_gender_bkts.csv"

In [ ]:
demographics_df = pd.read_csv(demographics_file)
demographics_df.head()

In [ ]:
demographics_df = demographics_df.dropna()
demographics_df.head()

In [ ]:
demographics_df = demographics_df.rename(columns={
    "age_bucket":"age_bins",
    "country_destination":"country"
})

In [ ]:
print(demographics_df.head())
print(demographics_df.columns)
demographics_df.dtypes

In [ ]:
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/airbnb_db')

In [ ]:
engine.table_names()

In [ ]:
demographics_df.to_sql(name='demographics', con=engine, if_exists='append', index=False)