In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
us_file = "Resources/AB_US_2020.csv"
chicago_file = "Resources/listings.csv"

In [3]:
original_us_df = pd.read_csv(us_file)
original_us_df.head()

C:\Users\filip\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,2020-07-09,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [4]:
original_chicago_df = pd.read_csv(chicago_file)
original_chicago_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,60,2,178,12/15/2019,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,7/14/2020,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,3/8/2020,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,10/23/2019,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,NaN,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2/14/2020,0.61,5,168

In [5]:
us_df = original_us_df.copy()

In [6]:
us_df = us_df[['id', 'neighbourhood', 'room_type', 'price', 'minimum_nights', 'city']]

In [7]:
us_df.dropna().drop_duplicates(keep='first')

,id,neighbourhood,room_type,price,minimum_nights,city
0,38585,28804,Private room,60,1,Asheville
1,80905,28801,Entire home/apt,470,1,Asheville
2,108061,28801,Entire home/apt,75,30,Asheville
3,155305,28806,Entire home/apt,90,1,Asheville
4,160594,28801,Private room,125,30,Asheville
...,...,...,...,...,...,...
226025,45506143,"Downtown, Chinatown, Penn Quarters, Mount Vern...",Entire home/apt,104,1,Washington D.C.
226026,45511428,"Brookland, Brentwood, Langdon",Entire home/apt,151,2,Washington D.C.
226027,45514685,"Shaw, Logan Circle",Entire home/apt,240,2,Washington D.C.
226028,45516412,"Kalorama Heights, Adams Morgan, Lanier Heights",Entire home/apt,60,21,Washington D.C.
226029,45517735,"Edgewood, Bloomingdale, Truxton Circle, Eckington",Entire home/apt,79,7,Washington D.C.

In [8]:
us_df.dtypes

id                 int64
neighbourhood     object
room_type         object
price              int64
minimum_nights     int64
city              object
dtype: object

In [9]:
chicago_df = original_chicago_df.copy()
chicago_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,60,2,178,12/15/2019,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,7/14/2020,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,3/8/2020,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,10/23/2019,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,NaN,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2/14/2020,0.61,5,168

In [11]:
chicago_df = chicago_df[['id', 'neighbourhood', 'room_type', 'price', 'minimum_nights']]
chicago_df.dropna().drop_duplicates(keep='first').head()

      id   neighbourhood        room_type  price  minimum_nights
0   2384       Hyde Park     Private room     60               2
1   4505  South Lawndale  Entire home/apt    105               2
2   7126       West Town  Entire home/apt     60               2
3   9811    Lincoln Park  Entire home/apt     65               4
4  10610       Hyde Park     Private room     21               1

In [12]:
chicago_df.dtypes

id                 int64
neighbourhood     object
room_type         object
price              int64
minimum_nights     int64
dtype: object